<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Unbreak.info- Case Study Data Engineering</title>
    <!-- Load CSS files -->
    <!-- Bootstrap -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
      integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
      crossorigin="anonymous"
    />
    <!-- Project CSS File -->
    <link rel="stylesheet" href="{{url_for('static',filename='main.css')}}" />
    <!-- favicon -->
    <link
      rel="shortcut icon"
      href="/static/images/favicon.png"
      type="image/x-icon"
    />
    <link rel="icon" href="/static/images/favicon.png" type="image/x-icon" />
  </head>
  <body>
    <img
      src="{{url_for('static',filename='images/bg.svg')}}"
      id="bg"
      alt="Background Image"
    />
    <!-- Navigation Menu-->
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="{{url_for('index')}}"><img class="brand-logo" src="{{url_for('static',filename='images/unbreak.png')}}"></a>
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarNavAltMarkup"
          aria-controls="navbarNavAltMarkup"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                id="navbarDropdown"
                role="button"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
              >
                Software
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a
                  class="dropdown-item"
                  href="{{url_for('software',sub_page='tech-overview')}}"
                  >Overview</a
                >
                <a
                  class="dropdown-item"
                  href="{{url_for('software',sub_page='demo')}}"
                  >Demo</a
                >
                <a
                  class="dropdown-item"
                  href="{{url_for('software',sub_page='docs')}}"
                  >Documentation</a
                >
              </div>
            </li>
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                id="navbarDropdown"
                role="button"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
              >
                Case Study
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a
                  class="dropdown-item"
                  href="{{url_for('case_study',sub_page='overview')}}"
                  >Overview</a
                >
                <a
                  class="dropdown-item"
                  href="{{url_for('case_study',sub_page='model-strategy')}}"
                  >Modeling Strategy</a
                >
                <a
                  class="dropdown-item"
                  href="{{url_for('case_study',sub_page='model-performance')}}"
                  >Model Performance</a
                >
                <a
                  class="dropdown-item"
                  href="{{url_for('case_study',sub_page='data-engineering')}}"
                  >Data Engineering</a
                >
              </div>
            </li>
            <a class="nav-item nav-link" href="{{url_for('team')}}">Team</a>
          </div>
        </div>
      </div>
    </nav>
    <div id="main-container" class="container">
      <h1 class="text-center">Data Engineering</h1>
      <h2>Data Flow Pillars</h2>
      <div class="row">
        <div class="col">
          <p>
            To build our solution we designed three main data flow pillars.
            First we have a data ingestion pipeline. In this part of the process
            we clean, dedupe and homogenize the raw data into a consistent
            format. Then we match records to a voter file using a custom scoring
            algorithm. Finally, we deliver clean, feature-enriched data suitable
            for EDA, model building and other downstream tasks.
          </p>
          <p>
            In the model building portion of the pipeline we performed data
            analysis and implemented models described by our
            <a href="{{url_for('case_study',sub_page='model-strategy')}}"
              >model strategies</a
            >. We also leveraged this part of the pipeline to construct a
            pre-scored 40M record set that includes the probabilities and binary
            outcomes from our best models.
          </p>
          <p>
            The third and final process is our allocation and distribution
            mechanism described by
            <a href="{{url_for('software',sub_page='tech-overview')}}">DARTS</a>
            that assigns targets based on recent online updates. This part of
            the process leverages the same pipeline infrastructure we use for
            ingestion, but instead of delivering files for modeling, we update
            our pre-scored file with daily information on canvassing results and
            other statistics needed for target pool allocations.
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col text-center">
          <figure class="figure">
            <img
              class="figure-img img-fluid"
              src="{{url_for('static',filename='images/data-engineering/pipeline.png')}}"
              alt="Image depicting data engineering pipeline"
            />
            <figcaption class="figure-caption text-right">
              Figure 1: The Data Flow Process
            </figcaption>
          </figure>
        </div>
      </div>
      <h2>Sources and Components</h2>
      <div class="row">
        <div class="col">
          <p>
            Our source data is housed in two primary platforms: Thrutalk and
            Civis. Much of our source data is pushed to us through Redshift
            queries and jobs that are scheduled on these platforms. The files
            are transferred through transient S3 buckets to our own staging
            areas using automation scripts developed in Zapier. The heavy
            lifting portion of our pipeline utilizes Amazon EMR. SageMaker is
            used for EDA, feature engineering and model building.
          </p>
        </div>
      </div>
    </div>
    <!-- Load Javascript -->
    <!-- Bootstrap Related -->
    <script
      src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
      integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
