<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Unbreak.info</title>
    <!-- Load CSS files -->
    <!-- Bootstrap -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
      integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
      crossorigin="anonymous"
    />
    <!-- Project CSS File -->
    <link rel="stylesheet" href="{{url_for('static',filename='main.css')}}" />
    <!-- favicon -->
    <link
      rel="shortcut icon"
      href="/static/images/favicon.png"
      type="image/x-icon"
    />
    <link rel="icon" href="/static/images/favicon.png" type="image/x-icon" />
  </head>
  <body>
    <img
      src="{{url_for('static',filename='images/bg.svg')}}"
      id="bg"
      alt="Background Image"
    />
    <!-- Navigation Menu-->
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="{{url_for('index')}}"><img class="brand-logo" src="{{url_for('static',filename='images/unbreak.png')}}"></a>
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarNavAltMarkup"
          aria-controls="navbarNavAltMarkup"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                id="navbarDropdown"
                role="button"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
              >
                Software
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a
                  class="dropdown-item"
                  href="{{url_for('software',sub_page='tech-overview')}}"
                  >Overview</a
                >
                <a
                  class="dropdown-item"
                  href="{{url_for('software',sub_page='demo')}}"
                  >Demo</a
                >
                <a
                  class="dropdown-item"
                  href="{{url_for('software',sub_page='docs')}}"
                  >Documentation</a
                >
              </div>
            </li>
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                id="navbarDropdown"
                role="button"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
              >
                Case Study
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a
                  class="dropdown-item"
                  href="{{url_for('case_study',sub_page='overview')}}"
                  >Overview</a
                >
                <a
                  class="dropdown-item"
                  href="{{url_for('case_study',sub_page='model-strategy')}}"
                  >Modeling Strategy</a
                >
                <a
                  class="dropdown-item"
                  href="{{url_for('case_study',sub_page='model-performance')}}"
                  >Model Performance</a
                >
                <a
                  class="dropdown-item"
                  href="{{url_for('case_study',sub_page='data-engineering')}}"
                  >Data Engineering</a
                >
              </div>
            </li>
            <a class="nav-item nav-link" href="{{url_for('team')}}">Team</a>
          </div>
        </div>
      </div>
    </nav>
    <div id="main-container" class="container">
      <div class="row">
        <div class="col text-center">
          <img
            class="banner"
            src="{{url_for('static',filename='images/communication_unbreakdown.png')}}"
          />
        </div>
      </div>
      <div class="row">
        <div class="col">
          <p>
            Our mission is to break down barriers of communication and remove
            intentionally placed and reinforced biases people have against any
            particular group. We feel that when people connect and are given a
            chance to see each other they find they have a lot in common. And
            when people see each other as having the same hopes and dreams we
            begin to arrive at solutions for society.
          </p>
          <p>
            Combining cutting-edge data science with innovative grassroots
            organizing in our project Communication Unbreakdown, we have done
            just that.
          </p>
          <p>
            Our project has two main components, our software DARTS, and our
            Case Study working with People's Action.
          </p>
        </div>
      </div>
      <div class="row align-items-center">
        <div class="col-md-6 align-items-center">
          <a
            class="main-link"
            href="{{url_for('software',sub_page='tech-overview')}}"
          >
            <div>
              <img
                class="logo mx-auto d-block"
                src="{{url_for('static',filename='images/dart.svg')}}"
                alt="DARTS Logo"
              />
              <h1 class="text-center">DARTS</h1>
              <p>
                Dynamic and Responsive Targeting System. Optimize your target
                pool using a multi-armed bandit modified for delayed feedback
                scenarios.
              </p>
            </div>
          </a>
        </div>
        <div class="col-md-6 align-items-center">
          <a
            class="main-link"
            href="{{url_for('case_study',sub_page='overview')}}"
          >
            <div>
              <img
                class="logo mx-auto d-block"
                src="{{url_for('static',filename='images/zeppelin.svg')}}"
                alt="Zeppelin Logo"
              />
              <h1 class="text-center">Case Study</h1>
              <p>
                A case study using DARTS to find conflicted voters for People's
                Action's Deep Canvassing Campaign in the 2020 United States
                Presidential Election.
              </p>
            </div>
          </a>
        </div>
      </div>
    </div>
    <!-- Load Javascript -->
    <!-- Bootstrap Related -->
    <script
      src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
      integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
